.Flexbox {
  display: flex;
  background-color: #fcfaf5;
  padding: 0px 20px;
  color: #fff;
  justify-content: space-between;
}

.ContentLeft {
  padding: 20px;
  background-color: #ff9800;
}

.ContentRight {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.ContentRight >div {
  padding: 20px;
  background-color: #ff9800;
}